@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 62.5%;
  font-family: "AlegreyaSans";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "AlegreyaSans";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  min-width: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.container {
  width: 93.75%;
  max-width: 94rem;
  margin: 0 auto;
  position: relative;
}

textarea {
  resize: none;
}

/*Шрифты*/
@font-face {
  font-family: AlegreyaSans;
  src: url(./../../fonts/AlegreyaSans-Black.ttf);
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: AlegreyaSans;
  src: url(./../../fonts/AlegreyaSans-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: AlegreyaSans;
  src: url(./../../fonts/AlegreyaSans-BoldItalic.ttf);
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: AlegreyaSans;
  src: url(./../../fonts/AlegreyaSans-ExtraBold.ttf);
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: AlegreyaSans;
  src: url(./../../fonts/AlegreyaSans-ExtraBoldItalic.ttf);
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: AlegreyaSans;
  src: url(./../../fonts/AlegreyaSans-Italic.ttf);
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: AlegreyaSans;
  src: url(./../../fonts/AlegreyaSans-Light.ttf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: AlegreyaSans;
  src: url(./../../fonts/AlegreyaSans-LightItalic.ttf);
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: AlegreyaSans;
  src: url(./../../fonts/AlegreyaSans-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: AlegreyaSans;
  src: url(./../../fonts/AlegreyaSans-MediumItalic.ttf);
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: AlegreyaSans;
  src: url(./../../fonts/AlegreyaSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: AlegreyaSans;
  src: url(./../../fonts/AlegreyaSans-Thin.ttf);
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: AlegreyaSans;
  src: url(./../../fonts/AlegreyaSans-ThinItalic.ttf);
  font-weight: 100;
  font-style: italic;
}
.welcome {
  height: 100vh;
  min-height: 65.0rem;
  background: url(./../../images/uzor.png) right bottom no-repeat #86c3d7;
  position: relative;
}
@media screen and (min-width: 768px) and (max-width: 1099px) {
  .welcome {
    background: url(./../../images/uzor.png) right top no-repeat #86c3d7;
  }
}
@media screen and (max-width: 767px) {
  .welcome {
    background: url(./../../images/welcome_list_small.png) right top/65% auto no-repeat #86c3d7;
  }
}
.welcome:before {
  content: url(./../../images/welcome_berry-maple3.png);
  display: block;
  position: absolute;
  left: 2.7%;
  bottom: -5.4rem;
}
@media screen and (min-width: 768px) and (max-width: 1099px) {
  .welcome:before {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .welcome:before {
    display: none;
  }
}
.welcome:after {
  content: url(./../../images/maples-berries.png);
  display: block;
  position: absolute;
  bottom: -5.0rem;
  right: 0;
}
@media screen and (min-width: 768px) and (max-width: 1099px) {
  .welcome:after {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .welcome:after {
    display: none;
  }
}

.welcome__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 2.4rem 0 5.3rem 0;
  background: url(./../../images/chokos.png) right/50% auto no-repeat;
}

.welcome__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*  width: 940px; */
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: 0;
}
@media screen and (min-width: 768px) and (max-width: 1099px) {
  .menu {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
}

.menu-item {
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1;
  z-index: 10;
  margin-right: 2.7rem;
}
.menu-item a {
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1;
}
.menu-item:last-child {
  margin-right: 0;
}

.welcome__menu-item:last-child {
  margin-right: 0;
}

.telephone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.number-icon {
  width: 1.2rem;
  height: 1.1rem;
  margin-right: 0.6rem;
  z-index: 10;
}

.number-wrapper {
  cursor: pointer;
  z-index: 10;
}

.telephone-number {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1;
}

.welcome__header-telephone:hover {
  text-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 768px) and (max-width: 1099px) {
  .welcome__header-telephone {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .welcome__header-telephone {
    display: none;
  }
}

.welcome__header-number-icon {
  fill: #ffffff;
}

.welcome__header-telephone-number {
  color: #ffffff;
}

.welcome__hero-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.welcome__hero {
  width: 37%;
}

.welcome__hero-title {
  color: #ffffff;
  font-size: 4.8rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 5.8rem;
  margin-bottom: 0.5rem;
}
@media screen and (max-width: 767px) {
  .welcome__hero-title {
    font-size: 40px;
    line-height: 36px;
  }
}

.welcome__hero-desc {
  color: #ffffff;
  font-size: 2.1rem;
  font-weight: 400;
  line-height: 2.5rem;
  margin-bottom: 3.1rem;
}
@media screen and (max-width: 767px) {
  .welcome__hero-desc {
    font-size: 18px;
    line-height: 21px;
  }
}

.welcome__hero-btn {
  background-color: #ffffff;
  color: #365a49;
}
.welcome__hero-btn:hover {
  background-color: #2e4e3f;
  color: #ffffff;
}

.welcome__hero-img {
  width: 44.66%;
}
.welcome__hero-img img {
  width: 100%;
}

.btn {
  display: inline-block;
  font-size: 1.9rem;
  font-weight: 800;
  padding: 1.9rem 3.4rem;
  border-radius: 3.4rem;
  border: none;
}

@media screen and (min-width: 768px) and (max-width: 1099px) {
  .welcome__advantages {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .welcome__advantages {
    display: none;
  }
}

.welcome__advantages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.welcome__advantages-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* align-items: center; */
  max-width: 13.5rem;
  margin-right: 3.3rem;
}
.welcome__advantages-item:first-child {
  margin-right: 4.6rem;
}
.welcome__advantages-item:last-child {
  margin-right: 0;
}

.welcome__advantages-text {
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.8rem;
}

.welcome__advantages-leaf {
  width: 4.4rem;
  height: 4.1rem;
  fill: #c6f7ff;
  margin-right: 1.0rem;
}

.welcome__advantages-car {
  width: 5.0rem;
  height: 4.0rem;
  fill: #c6f7ff;
  margin-right: 1.6rem;
}

.welcome__advantages-meter {
  width: 4.2rem;
  height: 4.2rem;
  fill: #c6f7ff;
  margin-right: 1.1rem;
}

.section {
  height: 100vh;
  min-height: 65.0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__title {
  color: #000000;
  font-size: 4.8rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
}

.desc__background-maple {
  position: absolute;
  bottom: 3.3rem;
  left: 0;
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 2%;
  position: relative;
}
.benefits__item:before {
  content: url("./../../icons/delimiter.png");
  position: absolute;
  right: 0;
  top: 5.2rem;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child:before {
  display: none;
}

.headline {
  text-align: center;
  margin-bottom: 5.7rem;
}

.headline__title {
  margin-bottom: 1.6rem;
}

.headline__subtitle {
  color: #666666;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  line-height: 1.9rem;
  padding: 0 26%;
}

.benefit {
  text-align: center;
}

.benefit__image-wrapper {
  display: inline-block;
  width: 12.6rem;
  height: 12.6rem;
  background-color: #f2f5f4;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  margin-bottom: 2.9rem;
}

.benefit__icon {
  width: 7.5rem;
  height: 6.9rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.benefit__title {
  text-align: center;
  color: #000000;
  font-size: 2.7rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 2.2rem;
}

.benefit__desc {
  text-align: center;
}
.benefit__desc p {
  color: #666666;
  font-weight: 300;
  line-height: 21px;
  font-size: 1.8rem;
}

.benefit-section {
  position: relative;
  background: url(./../../images/uzor_list.png) left top 57% no-repeat;
}
.benefit-section:before {
  content: url(./../../images/choko_malina.png);
  position: absolute;
  left: 0;
  bottom: -11.4rem;
}

.rewievs__main-title {
  margin-bottom: 3.3rem;
  font-size: 4.8rem;
}

.rewievs__display {
  position: relative;
  padding: 5.0rem 18.8rem 3.7rem 4.3rem;
  margin-bottom: 1.9rem;
  background: url(./../../images/rewievs_display-bg.png) #f8faf9 right top no-repeat;
  overflow: hidden;
}
.rewievs__display:after {
  content: "";
  display: block;
  width: 9.0rem;
  height: 9.0rem;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -75%);
          transform: translate(-50%, -75%);
}

.rewievs__display-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rewievs__avatar {
  width: 25.4rem;
  height: 26.0rem;
  margin-right: 2.0rem;
}

.rewievs__avatar-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.rewievs__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-top: 1.7rem;
}

.rewievs__title {
  color: #000000;
  font-size: 3.0rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 2.5rem;
}

.rewiev__text {
  color: #666666;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.3rem;
  margin-bottom: 2.6rem;
}

.rewiev-name {
  color: #000000;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1;
}

.interactive-avatar {
  width: 8.0rem;
  height: 8.0rem;
  border: 0.6rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
}

.interactive-avatar_active {
  border: 0.6rem solid #365a49;
}

.interactive-avatar-link {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.interactive-avatar-img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rewievs-section {
  position: relative;
  /* background: url(./../../images/uzor_list.png) left top 57% no-repeat; */
}
.rewievs-section:before {
  content: url(./../../images/rewievs__list-berries.png);
  position: absolute;
  left: 0;
  bottom: -16rem;
  z-index: 2;
}
.rewievs-section:after {
  content: url(./../../images/rewievs_stawberry.png);
  position: absolute;
  top: 3.3%;
  right: 1.2%;
}

.delivery-section {
  background: url(./../../backgrounds/delivery-bgc.jpg) no-repeat;
  background-size: cover;
  position: relative;
}
.delivery-section:before {
  content: url(./../../images/form_list.png);
  right: 0;
  bottom: 8.1rem;
  position: absolute;
}
.delivery-section:after {
  content: url(./../../images/form_berry.png);
  left: 2rem;
  bottom: 8.3rem;
  position: absolute;
}

.delivery__title {
  color: #365a49;
  font-size: 4.8rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 5.4rem;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 2.0rem;
}
.form__item:last-child {
  margin-right: 0;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2.4rem;
}
.form__row:last-child {
  margin-bottom: 0;
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 2.0rem;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  padding: 1.5rem 1.9rem 1.5rem 1.1rem;
  color: #000000;
  font-family: "Open Sans";
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1;
  border: 0.3rem solid transparent;
}
.form__input:focus {
  border: 0.3rem solid #dee2bd;
  outline: none;
}

.form__input_textarea {
  resize: none;
  height: 18rem;
}

.form__title {
  color: #365a49;
  font-family: "AlegreyaSans";
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1;
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 0.6rem;
}

.form__controls_checkbox {
  margin-bottom: 3.5rem;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-right: 2.3rem;
}
.radio:last-child {
  margin-right: 0;
}
.radio__checkbox .radio__visible {
  border-radius: 0;
}
.radio__checkbox .radio__visible:before {
  background: url(./../../icons/gala.png) center center no-repeat;
}

.radio__title {
  font-size: 1.8rem;
  color: #365a49;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 2.6rem;
  height: 2.6rem;
  position: relative;
  border-radius: 50%;
  background-color: white;
  margin-right: 1.0rem;
}
.radio__visible:last-child {
  margin-right: 0;
}
.radio__visible:before {
  content: "";
  display: none;
  width: 1.3rem;
  height: 1.3rem;
  background-color: #365a49;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.delivery-section__btn_buy {
  background-color: #365a49;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  margin-right: 3rem;
}

.delivery-section__btn_clear {
  background-color: transparent;
  color: #365a49;
  font-size: 1.8rem;
  font-weight: 400;
  padding: 0;
  cursor: pointer;
}
.delivery-section__btn_clear:hover {
  color: black;
}

.fixed-menu {
  position: fixed;
  top: 33%;
  right: 4%;
  z-index: 100;
}

.fixed-menu__item {
  margin-bottom: 0.5rem;
}
.fixed-menu__item_active .fixed-menu__link {
  border-color: white;
}

.fixed-menu__link {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  border: 0.1rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link:before {
  content: "";
  position: absolute;
  display: block;
  width: 0.6rem;
  height: 0.6rem;
  background: white;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hamburger {
  display: none;
  position: relative;
}
@media screen and (min-width: 768px) and (max-width: 1099px) {
  .hamburger {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .hamburger {
    display: block;
  }
}

.hamburger__img-wrapper {
  width: 24px;
  height: 22px;
}

.hamburger-img {
  width: 24px;
  height: 22px;
  fill: white;
}

.hamburger__dropdown {
  position: absolute;
}

/* display: none; */
.hamburger__menu {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hamburger__menu-item {
  text-align: center;
}
.hamburger__menu-item a {
  text-align: center;
}

.map-section {
  position: relative;
  height: 100vh;
}

.map-wrapper {
  width: 100%;
  height: 100%;
}

.map {
  width: 100%;
  height: 100%;
}

.footer {
  position: absolute;
  background: white;
  width: 100%;
  bottom: 0;
}

.footer__contant-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 26px 0 20px 0;
}

/* .addres-wrapper { } */
.addres {
  color: #000000;
  font-size: 2.1rem;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 0.5rem;
}

/* .footer-telephone { }

.footer-number-wrapper { }
 */
.footer-number-icon {
  fill: #365a49;
}

.footer-telephone-number {
  color: #365a49;
}

/* .socials-wrapper { } */
.socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-item {
  margin-right: 2rem;
  width: 2rem;
  height: 2rem;
}
.social-item:last-child {
  margin-right: 0;
}

.social-icon {
  fill: #b2b2b2;
  width: 100%;
  height: 100%;
}
.social-icon:hover {
  fill: black;
}
