.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-width: 0;
  flex: 1 0 auto;
}

.container {
  width: auto;
  max-width: 94rem;
  margin: 0 auto;
  position: relative;
}

textarea{
  resize: none;
}