.benefits {
  display: flex;

  @include phones {
    flex-direction: column;
  }
}
.benefits__item {
  flex: 1;
  padding: 0 2%;
  position: relative;

  &:before {
    content: url("./icons/delimiter.png");
    position: absolute;
    right: 0;
    top: rem(52px);
    transform: translateX(50%);

    @include tablets {
      display: none;
    }
   
  }

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;

    &:before {
      display: none;
    }
  }

  @include phones {
    display: flex;
    align-items: center;
    padding: 0;
    margin-bottom: 35px;

    &:last-child {
      margin-bottom: 0;
    }
  }
  
}
