/* .socials-wrapper { } */
.socials-list {
  display: flex;
  align-items: center;
}
.social-item {
  margin-right: rem(20px);
  width: rem(20px);
  height: rem(20px);

  &:last-child {
    margin-right: 0;
  }
}

.social-icon {
  fill: #b2b2b2;
  width: 100%;
  height: 100%;

  &:hover {
    fill: black;
  }
}
