.delivery-section {
  background: url(./../backgrounds/delivery-bgc.jpg) no-repeat;
  background-size: cover;
  position: relative;

  &:before {
    content: url(./../images/form_list.png);
    right: 0;
    bottom:8.1rem;
    position: absolute;
  }

  &:after {
    content: url(./../images/form_berry.png);
    left: 2rem;
    bottom:8.3rem;
    position: absolute;

  }
}

.delivery__title {
color: #365a49;
font-size: 4.8rem;
font-weight: 700;
text-transform: uppercase;
line-height: 1;
margin-bottom: 5.4rem;
}

