.fixed-menu {
  position: fixed;
  top: 33%;
  right: 4%;
  z-index: 100;
}

.fixed-menu__item {
  margin-bottom: 0.5rem;

  &_active {
    .fixed-menu__link {
      border-color: white;
    }
  }
}

.fixed-menu__link {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  border: 0.1rem solid transparent;
  display: block;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    display: block;
    width: 0.6rem;
    height: 0.6rem;
    background: white;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
