.footer {
  position: absolute;
  background: white;
  width: 100%;
  bottom: 0;
}
.footer__contant-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: rem(26px) 0 rem(20px) 0;
}
/* .addres-wrapper { } */

.addres {
  color: #000000;
  font-size: rem(21px);
  font-weight: 400;
  line-height: 1;
  margin-bottom: rem(5px);
}
