.hamburger {
  display: none;
  position: relative;
}

.hamburger__img-wrapper {
  width: rem(24px);
  height: rem(22px);
}

.hamburger-img {
  width: rem(24px);
  height: rem(22px);
  fill: white;
}

.hamburger__dropdown {
  position: absolute;
}

/* display: none; */
