
.headline {
  text-align: center;
  margin-bottom: 5.7rem;
}

.headline__title {
  margin-bottom: 1.6rem;
}


.headline__subtitle {
  color: #666666;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  line-height: 1.9rem;
  padding: 0 26%;
}