.headline {
  text-align: center;
  margin-bottom: rem(57px);
}

.headline__title {
  margin-bottom: rem(16px);
}

.headline__subtitle {
  color: #666666;
  font-size: rem(18px);
  font-weight: 400;
  text-align: center;
  line-height: rem(19px);
  padding: 0 26%;
}
