.interactive-avatar{
width: 8.0rem;
height: 8.0rem;
border: 0.6rem solid transparent;
border-radius: 50%;
overflow: hidden;
}

.interactive-avatar_active {
border: 0.6rem solid #365a49;
}


.interactive-avatar-link {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

}

.interactive-avatar-img{
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}