.radio{
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  margin-right: 23px;
  

  &:last-child {
    margin-right: 0;
  }

  &__checkbox {
    .radio__visible {
      border-radius: 0;

      &:before  {
        background: url(./../../icons/gala.png) center center no-repeat;
      }
    }
  }
}


.radio__elem {
  display: none;

  &:checked ~ .radio__visible {
    &::before {
      display: block;
    }
  }

}


.radio__visible{
  width: 26px;
  height: 26px;
  position: relative;
  border-radius: 50%;
  background-color: white;
  margin-right: 10px;

  &:last-child{
    margin-right: 0;
  }


  &:before{
content: "";
display: none;
width: 13px;
height: 13px;
background-color: #365a49;
border-radius: 50%;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
  }

}