.rewievs-section {
  position: relative;
  /* background: url(./../../images/uzor_list.png) left top 57% no-repeat; */

  &:before {
    content:url(./../../images/rewievs__list-berries.png);
    position: absolute;
    left: 0;
    bottom:-160px;
    z-index:2;
  }

  &:after {
    content:url(./../../images/rewievs_stawberry.png);
    position: absolute;
    top: 3.3%;
    right: 1.2%;
  }
}