.section {
  height: 100vh;
  /* min-height: rem(960px) */;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include se {
    min-height: rem(800px);
  }
}

.section__title {
  color: #000000;
  font-size: rem(48px);
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;

  @include phones {
    font-size: 40px;
  }
}

.desc__background-maple {
  position: absolute;
  bottom: 3.3rem;
  left: 0;
}
