.telephone {
  display: flex;
  align-items: center;
}

.number-icon {
  width: rem(12px);
  height: rem(11px);
  margin-right: rem(6px);
  z-index: 10;
}

.number-wrapper {
  cursor: pointer;
  z-index: 10;
}

.telephone-number {
  font-size: rem(24px);
  font-weight: 400;
  line-height: 1;
}
