.vertical-menu__section {
    position: relative;
    height: 100vh;
  background-color: black;
  background-image: url(./../backgrounds/vertical-acco-bcgrnd.png);  
  background-size: cover;

}


.vertical-menu__title { 
    position: absolute;
    top: 9%;
    left: 7%;
color: #ffffff;
font-size: 48px;
font-weight: 700;
text-transform: uppercase;
line-height: 1;

@include phones {
    font-size: 40px;
}
}


.acco-list { 
    position: relative;
    display: flex;
    height: 100%;
    justify-content: flex-end;
    transition: all .5s;
   /*  position: absolute;
    right: 0;
    top: 0; */

}
.acco-item { 
display: flex;
width: 100px;
z-index: 2;
transition: all .5s;

@include phones {
    width: 80px;
}
}

.acco-item_active {
    width: 58%;   

    @include tablets {
        width: calc(100% - 200px);
    }

    @include phones {
        
        width: calc(100% - 160px); 
/* position: absolute; */
/* height: 100%; */
/* width: 100%; */
z-index: 3;
}
   
}



.acco-item_phones {
/* display: none; */
position: absolute;
right: -106%;
top: 0;
bottom: 0;
width: 100vw;
}


.acco-title-wrapper { 
    cursor: pointer;
display: flex;
justify-content: center;
align-items: flex-end;
width: 100px;
background-color: black;
background-image: url(./../backgrounds/vert-menu__bgc-item1.png);
background-size: cover;
padding-bottom: 70px;

@include phones {
    width: 80px;
}
}


.second-title-wrapper {
background-color: black;
background-image: url(./../backgrounds/vert-menu__bgc-item2.png);
background-size: cover;

}


.third-title-wrapper {
    background-color: black;
    background-image: url(./../backgrounds/vert-menu__bgc-item3.png);
    background-size: cover;  
}

.acco-title {
    color: #ffffff;
    font-size: 48px;
    font-weight: 700;
    line-height: 1;
    transform: rotate(-90deg);
    white-space: nowrap;
    width: 100%;

    @include phones {
        font-size: 36px;
    }
 }


 .acco-content-wrap {

overflow: hidden;

}



.acco-content {
    position: relative;
    overflow: hidden; 
    height: 100%;
    background-color: #333537;
    opacity: 0.93;
    padding: 50px 126px 0 27px;
    

    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 23.97px;

    @include tablets {
        padding: 66px 66px 0 27px;
    }

    @include phones {
        padding: 64px 20px 0 20px;
    }
}

    

.acco-desc {
    opacity: 0;

    @include phones {
       font-size: 16px;
    }
}  
   

.acco-item_active .acco-desc {
    opacity: 1;
    transition: opacity .3s .5s;
}

.close-wrapper {
    position: absolute;
    width: 18px;
    height: 18px;
    right:32px;
    top: 26px;
}


.close-vert-menu {

width: 18px;
height: 18px;

}