.player-section__container { 
width: 660px;
height: 405px;

margin: 0 auto;
}

.player { 
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.player-wrapper { 
    width: 100%;
    height: 100%;

}

.player-elem { 

}

.player-splash { 
    
   /*  position: absolute; */

    width: 100%;
    height: 370px;
    /* top: 0;
    right: 0;
    height: 0;
    bottom: 0; */
    background: url(./../backgrounds/splash-video.png) black center center/cover no-repeat;
}

.player-controls { }