.welcome__hero-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.welcome__hero {
  width: 37%;
}

.welcome__hero-title {
  color: #ffffff;
  font-size: rem(48px);
  font-weight: 700;
  text-transform: uppercase;
  line-height: rem(58px);
  margin-bottom: rem(5px);
}

.welcome__hero-desc {
  color: #ffffff;
  font-size: rem(21px);
  font-weight: 400;
  line-height: rem(25px);
  margin-bottom: rem(31px);
}

.welcome__hero-btn {
  background-color: #ffffff;
  color: #365a49;

  &:hover {
    background-color: #2e4e3f;
    color: #ffffff;
  }
}

.welcome__hero-img {
  width: 44.66%;

  img {
    width: 100%;
  }
}
