.welcome__header-telephone {
  
  &:hover {
    text-shadow: 0 0 1.0rem rgba(0, 0, 0, 0.2);
}

@include middle {
  display: none;
}

@include small {
  display: none;
}

}

.welcome__header-number-icon {
  fill: #ffffff;
}



.welcome__header-telephone-number {
  color: #ffffff;
  
}
