.welcome {
  height: 100vh;
  min-height: 65.0rem;
  background: url(./../../images/uzor.png) right bottom no-repeat #86c3d7;
  position: relative;

  @include middle {
    background: url(./../../images/uzor.png) right top no-repeat #86c3d7;
    }

  @include small {
    background: url(./../../images/welcome_list_small.png) right top / 60% auto no-repeat #86c3d7;
  }

  &:before{
  content:url(./../../images/welcome_berry-maple3.png);
  display: block;
  position: absolute;
  left:2.7%;
  bottom:-5.4rem;

  @include middle {
    display: none;
  }

  @include small {
    display: none;
  }

}

&:after{
  content:url(./../../images/maples-berries.png);
  display: block;
  position: absolute;
  bottom:-5.0rem;
  right: 0;

  @include middle {
    display: none;
  }

  @include small {
    display: none;
  }


}
}

.welcome__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 2.4rem 0 5.3rem 0;
  background: url(./../../images/chokos.png)  right / 50% auto  no-repeat;

  
}