.welcome__background-images {
  display: inline-block;
  position: absolute;
  z-index: 0;
}

.palm-maple {
  top: 0px;
  right: 20px;
}

.berries {
  top: 405px;
  right: 258px;
}

.blackberry {
  top: 588px;
  right: 90px;
}

.big-green-maple {
  top: 355px;
  right: 20px;
  z-index: 2;
}

.middle-green-maple {
  top: 574px;
  right: 294px;
}

.small-green-maple {
  top: 589px;
  left: 30px;
}
