.welcome__menu {
  display: flex;
  align-items: center;
}

.welcome__menu-item {
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1;
  margin-right: 2.7rem;
  z-index: 10;

  a {
    color: #ffffff;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1;
  }

  &:last-child {
    margin-right: 0;
  }
}
