.welcome {
  height: 100vh;
  min-height: 65.0rem;
  background: url(./../../images/uzor.png) right bottom no-repeat;
  background-color: #86c3d7;
  position: relative;

  &:before{
  content:url(./../../images/welcome_berry-maple3.png);
  display: block;
  position: absolute;
  left:2.7%;
  bottom:-5.4rem;
}

&:after{
  content:url(./../../images/maples-berries.png);
  display: block;
  position: absolute;
  bottom:-5.0rem;
  right: 0;
}
}

.welcome__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 2.4rem 0 5.3rem 0;
  background: url(./../../images/chokos.png) right center / 50% auto  no-repeat;

}