@media screen and (min-width: 768px) and (max-width: 1099px) {
  .welcome {
    background: url(./../../images/uzor.png) right top no-repeat;
    background-color: #86c3d7;

    &:before {
        display: none;
    }

    &:after {
        display: none;
    }
  }

  .welcome__menu,
  .welcome__advantages,
  .welcome__header-telephone {
    display: none;
  }

  .welcome__hero {
    width: 70%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .welcome__hero-desc {
    width: 50%;
  }
}


