@media screen and (min-width:768px) and (max-width:1099px) {

    .welcome {
        background: url(./../../images/uzor.png) right top no-repeat;
        background-color: #86c3d7;
    }

    .welcome__menu, .welcome__advantages, .welcome__header-telephone {
        display: none;
    }

    .welcome__hero {
        width: 70%;
        text-align: center;
    }
   .welcome__hero-desc {
    margin-bottom: 3.1rem;
    width: 50%;
    margin: auto;
    margin-bottom: 3.1rem;
   }
}   